<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskboardWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/taskboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskboardWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="pancake-layout">
        <header>
            <div class="header">
                <div class="logo">
                    <img src="~/img/taskboard-icon/taskboard-icon.png" height="48px" width="48px">
                </div>
                <div>
                    <a class="title" asp-controller="Menu" asp-action="Index">タスクボードアプリケーション</a>
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
